@model Repaso_Net.Models.Curso


<div class="container">
        <br>
        <div class="row">
            <div class="col-sm-6">
                <img class="rounded"
                    src="data:image/png;base64,@Model.fileBase64"
                    width="500" />
            </div>

            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Curso</h4>
                        <p>@Model.nombre</p>
                    </div>
                    <div class="col-sm-6">
                        <h4>Docente</h4>
                        <p>Ing. @Model.usuario.nombres @Model.usuario.apellidos</p>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>Descripción</h4>
                            <p>@Model.informacion</p>
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Fecha de Inicio</h4>
                        <p>@Model.fechaInicio.ToString("dd/MM/yyyy")</p>
                    </div>
                    <div class="col-sm-6">
                        <h4>Fecha de Fin</h4>
                        <p>@Model.fechaFin.ToString("dd/MM/yyyy")</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Horario</h4>
                        <p>@Model.horario</p>
                        <h4>Cupos:</h4>
                        <p>@Model.cupo participantes</p>
                        <h4>Precio</h4>
                        <p>S/. @Model.precio</p>
                    </div>
                    
                </div>
                <a href="#" class="btn btn-primary">Inscribirse</a>
            </div>
        </div>

    
    </div>
