@model Repaso_Net.Models.Curso


<div class="container">

    <div class="row">
   
       <div style="display: flex; justify-content: space-between;">
           
            <div>
                <img src="data:image/png;base64,@Model.fileBase64" class="img-fluid"/>
            </div>

        <div>
   
              <div class="card-body">
                <h5 class="card-title">@Model.nombre</h5>
                <p class="card-text"><strong>Fecha Inicio:</strong> @Model.fechaInicio.ToString("dd/MM/yyyy")</p>
                <p class="card-text"><strong>Fecha Fin:</strong> @Model.fechaFin.ToString("dd/MM/yyyy")</p>
                <p class="card-text"><strong>Precio:</strong> S/ @Model.precio</p>
                <p class="card-text"><strong>Cupos:</strong> @Model.cupo cupos disponibles</p>
                <p class="card-text">Descripcion: @Model.informacion</p>
                <a href="#" class="btn btn-primary">Inscribirse</a>
              </div>

        </div>

       </div>

    </div>

</div>
